$assetsPath: '../assets';

/* fullscreen background */
@mixin fullscreenBg($url) {
  background: url($url) no-repeat;
}

@function assetsUrl($path) {
  @return url('#{$assetsPath}/#{$path}') no-repeat;
}

@mixin position($pos, $top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin sizeWH($width: null, $height: null) {
  width: $width;
  height: $height;
}

@mixin textMixin(
  $color: null,
  $size: null,
  $weight: null,
  $transform: null,
  $decoration: null,
  $align: null,
  $style: null
) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  text-transform: $transform;
  text-decoration: $decoration;
  text-align: $align;
}

/* align center */
@mixin alignCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
