@import 'resets';
@import 'mixins';
@import 'variables';
@import 'functions';
@import 'sections/cover';

html {
  font-size: 100px;
}

body {
  background: assetsUrl('../assets/bg.png') center top / 19.2rem;
  width: 19.2rem;
  height: 69.57rem;
}
